.app {
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.container {
  width: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: var(--br);
}
